
[Unit]
Description=archive Service
After=multi-user.target

[Service]
Type=forking
User=tom-daemon

ExecStart=/bin/bash /usr/local/bin/archive.sh start
ExecStop=/bin/bash /usr/local/bin/archive.sh stop
ExecReload =/bin/bash /usr/local/bin/archive.sh restart

[Install]
WantedBy=multi-user.target
